# Auth login (dashboard)
VITE_AUTH_USERNAME=
VITE_AUTH_PASSWORD=

# Webhook endpoints (n8n)
VITE_WEBHOOK_GET_BARANG=
VITE_WEBHOOK_INPUT_PO_V3=
VITE_WEBHOOK_LIST_PO=
VITE_WEBHOOK_PAYMENT_PROOF=
VITE_WEBHOOK_UPDATE_SISA_MODAL=
VITE_WEBHOOK_STRUK_PEMBELIAN_KASPIN=
VITE_WEBHOOK_FINANCE_VERIF_PO=
VITE_WEBHOOK_INPUT_INVENTORY_REQUEST=
VITE_WEBHOOK_LIST_PENGAJUAN_INVENTARIS=
VITE_WEBHOOK_LIST_PENGAJUAN_PERALATAN=
VITE_WEBHOOK_LIST_PENGAJUAN_PERALATAN_APPROVED=
VITE_WEBHOOK_APPROVE_PENGAJUAN_PERALATAN=
VITE_WEBHOOK_GET_DATABASE_PERLENGKAPAN=
VITE_WEBHOOK_INPUT_PENGAJUAN_PERLENGKAPAN=
VITE_WEBHOOK_PAYMENT_PROOF_INVENTORY=
